# npm
**/node_modules
documentation
# Build
dist

# Docker
dockerfile.seed
dockerfile.branch
dockerfile.trunk
docker-compose.yml
.dockerignore

# git
.gitignore

# doc
docs
*.md
*.png
LICENSE

# editorconfig
.editorconfig
